.SignIn{
 background-color: #FF7F50;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 30px;
}
.container {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-color: white;
 margin: 20px 0px;
}

.img{
 width: 60px;
 height: 60px;
 border-radius: 50%;
}

.logo{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;

}
.logo div{
 width: 100%;
 height: 50px;
 background-color: #FFEBCD;
 margin: 0;
 margin-bottom: 30px;
 display: flex;
 align-items: center;
 justify-content: center;
}
form{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 width: 300px;
 margin: 30px;
}

input{
 border: none;
 border-bottom: 1px solid black;
 margin: 10px 0px;
 box-sizing: border-box;
 outline: none;
 height: 30px;
}

.r{
 width: 100%;
}
.r:last-child{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 height: 70px;
}
#submit{
 height: 70%;
 width: 30%;
 background-color: #FF7F50;
 cursor: pointer;
}
#check{
 background-color: #FF7F50;
 color: #FF7F50;
 width: 20px;
 height: 20px;
 border-radius: 50%;
 cursor: pointer;
}
input:focus{
 box-shadow: 2px 2px 2px#2c4755ed;
 background-color: #FFEBCD;
 color:#2c4755ed ;
}
a{
 text-decoration: none;
 color: #FF7F50;
 size: 10px;
}