.about-container ::selection {
    background-color: #2C4755;
    color: #FFF;
}


.about-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 236, 236);
    padding: 15px;
    height: auto;
    overflow: hidden;
}

.about-container>img {
    height: 60vh;
    border-radius: 15px;
    margin-top: 90px;
    margin-left: -30px;
    left: -25px;
    flex-basis: 60%;
    z-index: 1;
}

.about-container>.text {
    flex-basis: 40%;
    padding: 20px;
    margin-top: 35px;
    text-align: center;
    font-family: tahoma;
    line-height: 2em;
    font-size: 17px;

}

.about-container .text h1 {
    font-size: 35px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.about-container .text .moto {
    font-size: 30px;
    margin: 10px 0;
}