/*  start footer  */
.Footer {
 background-color: #2c4755;
 padding-top: 10px;
 padding-bottom: 10px;
 text-align: center;
}

.Footer p {
 color: white;
 font-size: 30px;
 letter-spacing: 2px;
}

.Footer p span {
 color: var(--main-color);
}

/*  end footer */