.info-container {
    background-color: #ECECEC;
    border: 1px solid black;
}

.info-container-inner {
    width: 95%;
    padding: 50px;
    border-radius: 10px;
    background-color: #FFF;
    margin: 20px auto 70px;

}

.info-container ::selection {
    background-color: #2C4755;
    color: #FFF;
}


.info-container .info-form {
    width: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
}

.info-container .info-form .form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.info-container .info-form * {
    font-weight: 900;
}

.info-container .info-form .contract-preview img {
    width: 120px;
    height: 90px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;

}

.info-container .info-form .contract-preview img:hover {
    border-width: 2px;
}

.info-container .info-form label {
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    color: #000;
    height: 20px;
    margin-right: 0px;
    margin-bottom: 10px;
}



.info-container .info-form .form-control,
.info-container .info-form .form-control:focus {
    border-color: transparent;
    border-bottom-color: #bebcc1;
    box-shadow: none;
    border: 1px solid black;

}

.info-container .info-form input.form-control {
    margin-bottom: 25px;
    font-size: 21px;
    font-weight: 600;
    color: #045d8d;
    letter-spacing: 1px;
    height: 45px;
    font-size: 21px;
    background-color: #FFF;
    border-color: #bdbdbd;

}

.info-container .info-form .btn {
    border-radius: 0px;
    border-color: transparent;
    margin: 30px 15px;
}

.info-container .info-form .btn.btn-default {
    background: #ebebeb;
    color: #8f9096;
}

.info-container .info-form .btn.btn-primary {
    background: #000000;
    color: white;
}


.info-container .info-form {
    width: 100%;
    margin: auto;
}

@media (max-width: 750px) {
    .info-container .info-form {
        grid-template-columns: 4fr 6fr;
    }
}

@media (max-width: 640px) {
    .info-container .info-form {
        grid-template-columns: 1fr;

    }

    .info-container .info-form input.form-control,
    .info-container .info-form .contract-preview {
        margin: 5px 0 30px 0;


    }

    .info-container .info-form input.form-control {
        font-size: 17px;
    }

    .info-container .info-form label {
        width: 50%;
        min-width: 200px;
    }
}


.info-container .info-form .form-group .property-field,
.info-container .info-form .form-group .vehicle-field {
    display: none;
    background-color: red;
}

.show {
    display: block;
}