.form-container {
    background-color: #ECECEC;
    border: 1px solid black;
}

.form-container-inner {
    width: 95%;
    padding: 50px;
    border-radius: 10px;
    background-color: #FFF;
    margin: 20px auto 70px;

}

.form-container ::selection {
    background-color: #2C4755;
    color: #FFF;
}


.form-container .form-form {
    width: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
}

.form-container .form-form .form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.form-container .form-form * {
    font-weight: 900;
}

.form-container .form-form .contract-preview img {
    width: 120px;
    height: 90px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;

}

.form-container .form-form .contract-preview img:hover {
    border-width: 2px;
}

.form-container .form-form label {
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    color: #000;
    height: 20px;
    margin-right: 0px;
    margin-bottom: 10px;
}



.form-container .form-form .form-control,
.form-container .form-form .form-control:focus {
    border-color: transparent;
    border-bottom-color: #bebcc1;
    box-shadow: none;
    border: 1px solid black;

}

.form-container .form-form input.form-control {
    margin-bottom: 25px;
    font-size: 21px;
    font-weight: 600;
    color: #045d8d;
    letter-spacing: 1px;
    height: 45px;
    font-size: 21px;
    background-color: #FFF;
    border-color: #bdbdbd;

}

.form-container .form-form .btn {
    border-radius: 0px;
    border-color: transparent;
    margin: 30px 15px;
}

.form-container .form-form .btn.btn-default {
    background: #ebebeb;
    color: #8f9096;
}

.form-container .form-form .btn.btn-primary {
    background: #000000;
    color: white;
}


.form-container .form-form {
    width: 100%;
    margin: auto;
}

@media (max-width: 750px) {
    .form-container .form-form {
        grid-template-columns: 4fr 6fr;
    }
}

@media (max-width: 640px) {
    .form-container .form-form {
        grid-template-columns: 1fr;

    }

    .form-container .form-form input.form-control,
    .form-container .form-form .contract-preview {
        margin: 5px 0 30px 0;


    }

    .form-container .form-form input.form-control {
        font-size: 17px;
    }

    .form-container .form-form label {
        width: 50%;
        min-width: 200px;
    }
}


.form-container .form-form .form-group.property-field,
.form-container .form-form .form-group.vehicle-field {
    display: flex;
}

.form-container .form-form .form-group.property-field.show,
.form-container .form-form .form-group.vehicle-field.show {
    display: flex;
}


.form-container .form-form .form-group label[for="propertyId"]+input,
.form-container .form-form .form-group label[for="id"]+input,
.form-container .form-form .form-group label[for="createDate"]+input {
    background-color: #e2e0e0;
}