.UI-container a {
    text-decoration: none;
    color: initial;
}


.UI-container ::selection {
    background-color: #2C4755;
    color: #FFF;
}

.UI-container {
    display: flex;
    justify-content: flex-start;

}

.UI-container {
    width: 100%;
    background-color: #FFF;
}


.UI-container .content {
    width: 70%;
    margin: 0 auto 50px;
    padding-top: 30px;


}


.UI-container .menu {
    height: 100vh;
    width: 5%;
    font-size: 1.3rem;
    background: #ECECEC;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0px 20px 10px;
    margin-right: 40px;
    border-right: 4px double black;
    position: fixed;
    transition: width ease 0.5s;

}

.UI-container .menu:hover {
    width: 40%;

}

.UI-container .menu .nav-link {
    margin-bottom: 20px;
    color: #011E80;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    width: 80%;
    height: 40px;
    overflow: hidden;
    position: relative;


}

.UI-container .menu .nav-link::before {
    /* content: ''; */
    position: absolute;
    display: block;
    width: 4px;
    height: 0%;
    top: 50%;
    left: -8px;
    background-color: #2C4755;
    transition-property: height, top;
    transition-timing-function: ease;
    transition-duration: 0.35s;
}

.UI-container .menu .nav-link.active {
    font-weight: 900;
    color: #0430c0;
}

.UI-container .menu .nav-link.active::before {
    top: 0;
    height: 100%;

}



.UI-container .menu .nav-link>i {
    padding: 0;
    color: #011E80;
    font-size: 27px;
    margin-right: 20px;
}


.UI-container .menu .nav-link.active>i {
    color: #0430c0;
}



@media screen and (max-width:940px) {
    .UI-container .menu {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
    }

    .UI-container .menu {
        width: 6%;
        padding: 20px 0px;
    }

    .UI-container .menu .nav-link {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        text-align: left;
        font-size: 16px;
        cursor: pointer;
    }

    .UI-container .menu .nav-link>i {
        font-size: 25px;
        margin-left: 0;
    }
}

@media screen and (max-width:768px) {
    .content {
        padding-left: 50px;
        width: 100%;
        padding-top: 200px;
        padding-bottom: 50px;
    }


    .UI-container .menu {
        flex-direction: column;

    }

}

@media (max-width:580px) {
    .UI-container {
        flex-direction: column;
    }

    .UI-container .menu {
        width: 100%;
        height: auto;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }


    .UI-container .menu:hover {
        width: 100%;
    }

    .UI-container .content {
        padding: 25px;
    }


}

@media (max-width:580px) {
    .UI-container .menu {
        flex-direction: column;
    }
}

.profile-content,
.contracts-content,
.properties-content,
.vehicles-content {
    display: none;
}



.UI-container form {
    width: 550px;
}

.UI-container form * {
    font-weight: 900;
}

.UI-container form label {
    font-size: 18px;
    color: #000;
    font-family: cairo;
}

.UI-container form .form-control,
.UI-container form .form-control:focus {
    border-color: transparent;
    border-bottom-color: #bebcc1;
    box-shadow: none;

}

.UI-container form input.form-control {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 600;
    color: #0430C0;
    letter-spacing: 3px;
}

.UI-container form .btn {
    border-radius: 0px;
    border-color: transparent;
    margin: 30px 15px;
}

.UI-container .btn.btn-default {
    background: #ebebeb;
    color: #8f9096;
}

.UI-container .btn.btn-primary {
    background: #000000;
    color: white;
}


.UI-container form {
    width: 100%;
    margin: auto;
}




.contracts .contract,
.properties .property,
.vehicles .vehicle {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(236, 236, 236);
    border: 2px solid #2C4755;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px;
}

.contracts-content .contracts,
.properties-content .properties,
.vehicles-content .vehicles {
    padding: 0;
}

.contracts-content .contracts>span,
.properties-content .properties>span,
.vehicles-content .vehicles>span {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.UI-container img {
    width: 45px;
    height: 60px;
    margin: 10px 20px;
}

.UI-container .show {
    display: block;
}